.sp-dark.sp-container {
    background-color: #353539;
    border: none;
}

.sp-dark.sp-replacer {
    /* width: 70%; */
    /* height: 11px; */
    border: none;
    background: 0 0;
    color: #eee;
    padding: 0;
}

.sp-replacer.sp-active, .sp-replacer:hover {
    border-color: #F0C49B;
    color: #fff
}

.sp-replacer.sp-disabled {
    border-color: silver;
    color: silver
}

.sp-dark .sp-preview {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0
}

.sp-dark .sp-cancel {
    color: #f99f9f!important
}

.sp-color, .sp-dark, .sp-dark button, .sp-dark input, .sp-hue {
    border: none
}

.sp-dark .sp-input {
    border: 1px solid #666;
    color: #f9f9f9
}

.sp-dark .sp-input.sp-validation-error {
    border: 1px solid red;
    background-color: #0f0f0f;
    color: red
}

.sp-dark .sp-picker-container {
    border: none
}

.sp-dark.sp-replacer.sp-active, .sp-dark.sp-replacer:hover {
    border-color: #F0C49B;
    color: #111
}

.sp-dark .sp-dd {
    display: none;
    color: #4d90fe
}

fieldset.cpicker {
    width: 167px;
    background-image: url('../img/transparent.png');
    border: none;
    border-radius: 25px;
}

fieldset.cpicker legend {
    text-align: center;
}
